<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:name="com.ssu.portfolio.fooddeliveryapp.BaseApplicationClass"
        android:allowBackup="true"
        android:label="@string/app_name"
        android:theme="@style/Theme.KomatoSplashScreen"
        android:appComponentFactory="androidx.core.app.CoreComponentFactory"
        tools:replace="android:allowBackup,android:label,android:theme,android:appComponentFactory"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true">


    <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.KomatoSplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>
